.input-cuadro {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .input-cuadro::placeholder {
    color: #999;
  }
  
  .feedback-p {
    color:#003366;
    padding: 10px;
  }
  