.dropdown-menu {
    position: relative;
}


.dropdown-menu .submenu {
    display: none;
    position: absolute;
}

.dropdown-menu:hover .submenu {
    display: block;
    background-color: #fff;
    width: 100%;
    padding: 10px 12px;
   
}