body {
  background-image: url(https://images.unsplash.com/photo-1685462576399-d3a3c11e3f79?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: #003366;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

h1 {
  color: #fff;
  text-align: center;
  padding: 20px;
  background-color: #003366;
}

.main-menu {
  background-color: #f1f1f1;
  padding: 10px;
}

.main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.main-menu li {
  margin: 0 10px;
}

.main-menu li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.fila-tabla {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
}

.fila-tabla .columna {
  flex: 1;
  text-align: center;
  color: #003366;
}

.cabecera-tabla .columna {
  color: #fff;
}

.fila-tabla:nth-child(even) {
  background-color: #eaeaea;
}

.fila-tabla.cabecera-tabla {
  font-weight: bold;
  background-color: #003366;
}

.fila-tabla.cabecera-tabla:hover {
  background-color: #003366;
  color: #fff;
}

.fila-tabla:hover {
  background-color: #dcdcdc;
}

.cursor-pointer {
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
}

.container input[type="password"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
}

.button {
  background-color: #003366;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.button + .button {
  margin-left: 10px;
}

.confirmar-envio-button {
  background-color: #003366;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

